@import url(https://fonts.googleapis.com/css?family=Quicksand); 

body {
    background: #eee;
    margin: 50px 0 0 0;
    font-family: Quicksand;
}

input:focus, button:focus, textarea:focus, select:focus {
    outline: 0;
}

#wrapper {
    width: 400px;
    text-align: center;
    margin: auto;
}

#wrapper section {
    width: 500px;
    text-align: left;
    padding: 25px;
    background: rgba(255,255,255,0.7);
    -moz-box-shadow: 0 0 1px 2px rgba(20,20,20,0.3);
    -webkit-box-shadow: 0 0 1px 2px rgba(20,20,20,0.3);
    border-radius: 5px;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    overflow: hidden;
}

#wrapper section:hover {
    -moz-box-shadow: 0 0 4px 3px #ff664a;
    -webkit-box-shadow: 0 0 4px 3px #66ccff;
    background: #fff;
}

form {
    height: 320px;
    margin-top: 70px;
}

#wrapper section .inputs {
    width: 65%;
}

#wrapper section .inputs input {
    width: 93.5%;
    padding: 10px 3%;
    border: 1px solid #ddd;
    margin: 0 0 20px 0;
    font-family: Quicksand;
    font-size: 16px;
    border-radius: 5px;
    background: rgba(102,204,255,0.1);
    -moz-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

#wrapper section .inputs input:hover {
    background: #fff;
    border: 1px solid #ccc;
}

#wrapper section input.button {
    width: 350px;
    padding: 15px 0;
    border: 0px solid;
    margin: 5px 0 0 0;
    font-family: Quicksand;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    background: #999;
    -moz-box-shadow: 2px 2px 2px rgba(20,20,20,0.7);
    -webkit-box-shadow: 2px 2px 2px rgba(20,20,20,0.7);
}

#wrapper section input.button:hover {
    background: #66ccff;
}

.bottom-text {
    display: flex;
    justify-content: space-between;
}

.bottom-text-inner-one {
    width: 100%;
}

.bottom-text-inner-one-inner {
    display: flex;
    width: 96%;
}

img {
    height: 250px;
    position: relative;
    bottom: 200px;
    right: -350px;
    margin: 0;
    padding: 0;
}

.main-name {
    position: relative;
    left: -20px;
    z-index: 100;
    bottom: -80px;
    text-align: left;
    padding: 1px 20px 1px 5px;
    background-color: rgb(238, 101, 10);
    color: white;
}

h3 {
    margin: 2px 30px 2px 15px;
}


